{% extends 'restaurant/base.html' %} {% block content %}
<div>
  <h1>Place an Order</h1>

  <p>
    There is a base order price of 10$ for regular cheese pizza. Toppings are
    extra.
  </p>

  <form action="{% url 'submit' %}" method="POST">
    {% csrf_token %}
    <h2>Top of the Tony</h2>
    <input type="checkbox" name="item1" value="False" />
    <label for="item1"> Tony's Big Sausage 7$</label><br />
    <input type="checkbox" name="item2" value="False" />
    <label for="item2"> Crying Tony's Onions 2$</label><br />
    <input type="checkbox" name="item3" value="False" />
    <label for="item3"> Spicyony Pepperoni 4$</label><br />
    <input type="checkbox" name="item4" value="False" />
    <label for="item4"> Tony's pig feet 30$</label><br />
    <br />

    <h2>Tony's Daily Special Sauce</h2>
    <input type="checkbox" name="special_sauce" value="False" />
    <label for="special_sauce">Spicy Barbecue</label><br />

    <h2>Special Instructions</h2>
    <label for="special_instruction"
      >Please Share any special instructions:
    </label>
    <br />
    <textarea name="special_instruction" rows="4" cols="50"></textarea>

    <h2>Customer Information</h2>
    <label for="name"> Name:</label><br />
    <input type="text" name="name" /><br />
    <label for="phone"> Phone</label><br />
    <input type="text" name="phone" /><br />
    <label for="email"> Email</label><br />
    <input type="text" name="email" /><br />

    <button type="submit">Submit</button>
  </form>
</div>

{% endblock %}
