<!-- Used AI generated content for formating purposes -->
<!--
File: tempalte/show_all_profiles.html
Author: Nicholas Reis (nreisny@bu.edu) 6/20/26
Description: Simple tempalte that dispalys all profiles
-->
{% extends 'bookreview/base.html' %} {% block content %}

<h1 class="section-title">Profiles</h1>

<div class="profile-grid">
  <!-- Creating a link card that displays a profiles username, their image, bio, and join_date -->
  {% for profile in profiles %}
  <a href="{% url 'show_profile' profile.pk %}" class="profile-card">
    <img
      src="{{ profile.profile_image_url }}"
      alt="{{ profile.username }}"
      class="profile-avatar"
    />

    <h3>{{ profile.username }}</h3>

    <p class="profile-date">Joined {{ profile.join_date }}</p>
  </a>
  {% endfor %}
</div>

{% endblock %}
