<!-- Used AI generated content for formating purposes -->
<!--
File: tempalte/show_all_characters.html
Author: Nicholas Reis (nreisny@bu.edu) 6/20/26
Description: Simple tempalte to display all characters
-->
{% extends 'bookreview/base.html' %} {% block content %}
<h1 class="section-title">Characters</h1>

<div class="character-grid">
  <!-- Creating a link card to display each characters name, image, rating, and what book they're from -->
  {% for character in characters %}
  <a
    href="{% url 'show_character' character.pk %}"
    class="character-preview-card"
  >
    <img src="{{ character.character_image_url }}" alt="{{ character.name }}" />

    <div class="character-preview-info">
      <h3>{{ character.name }}</h3>

      <p class="character-book">{{ character.book.name }}</p>

      <p class="character-rating">
        Rating: {{ character.rating|floatformat:1 }}
      </p>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
