<!-- Used AI generated content for formating purposes -->
<!--
File: tempalte/show_book.html
Author: Nicholas Reis (nreisny@bu.edu) 6/20/26
Description: Simple template that dispalys a books information and comments
-->

{% extends 'bookreview/base.html' %} {% block content %}

<!-- Displaying simple information about the book -->
<div class="book-detail-card">
  <img src="{{ book.book_image_url }}" alt="{{ book.name }}" />

  <div class="book-detail-info">
    <h1>{{ book.name }}</h1>

    <p class="synopsis">{{ book.synopsis }}</p>

    <p class="author">Author: {{ book.author }}</p>

    <p class="rating">Rating: {{ book.rating|floatformat:1 }}</p>
  </div>
</div>
<!-- Displaying all the characters information related to this book -->
<h2 class="section-title">Characters</h2>
<div class="character-list">
  {% for character in book.get_all_characters %}
  <a
    class="character-card"
    href="{% url 'show_character' character.pk request.path%}"
  >
    <img src="{{ character.character_image_url }}" alt="{{ character.name }}" />

    <div class="character-info">
      <h3>{{ character.name }}</h3>
    </div>
  </a>
  <!-- If there are no characters, displays no characters listed -->
  {% empty %}
  <p>No characters listed.</p>
  {% endfor %}
</div>

<h2 class="section-title">Reviews & Comments</h2>
<!-- Displays all comments about this book -->
<div class="comment-list">
  {% for comment in book.get_all_comments %}
  <a href="{% url 'show_profile' comment.profile.pk %}" class="comment-card">
    <img
      class="comment-avatar"
      src="{{ comment.profile.profile_image_url }}"
      alt="{{ comment.profile.username }}"
    />

    <div class="comment-content">
      <h4>{{ comment.profile.username }}</h4>

      <p>{{ comment.text }}</p>
      <p class="rating-value">{{comment.rating}}</p>
    </div>
  </a>
  <!-- If there are no comments, displays no comments -->
  {% empty %}
  <p>No comments</p>
  {% endfor %}
</div>
<div class="action-bar">
  <a href="{{ previous_path }}" class="action-btn"> Back </a>

  <a
    href="{% url 'create_book_comment' book.pk book.pk previous_path|slice:'1:' %}"
    class="action-btn"
  >
    Add Review
  </a>
</div>
{% endblock %}
