<!--
File: tempalte/show_post.html
Author: Nicholas Reis (nreisny@bu.edu) 5/30/26
Description: Simple template that dispalys all photos for a 
             given post along side its caption and timestamp
-->

{% extends 'mini_insta/base.html' %} {% block content %}
<div class="post_container">
  {% for photo in post.get_all_photos %}
  <img src="{{photo.get_image_url}}" alt="No Image" />
  {% endfor %}

  <p>{{post.caption}}</p>
  <p>{{post.timestamp}}</p>

  <hr />

  <h3>Likes: {{ post.get_likes.count }}</h3>

  {% for like in post.get_likes %}
  <p>{{ like.profile.display_name }}</p>
  {% empty %}
  <p>No likes yet.</p>
  {% endfor %}

  <h3>Comments</h3>

  {% for comment in post.get_all_comments %}
  <div class="comment">
    <strong>{{ comment.profile.display_name }}</strong>
    <small>{{ comment.timestamp }}</small>

    <p>{{ comment.text }}</p>
  </div>
  {% empty %}
  <p>No comments yet.</p>
  {% endfor %}

  <a href="{%  url 'delete_post' post.pk %}">
    <button type="button" name="delete_post" value="Delete post">
      Delete Post
    </button>
  </a>

  <a href="{%  url 'update_post' post.pk %}">
    <button type="button" name="update_post" value="Update Post">
      Update Post
    </button>
  </a>
</div>
{% endblock %}
