<!--
File: template/show_followers.html
Author: Nicholas Reis (nreisny@bu.edu) 6/2/26
Description: A tempalte to display all followers profiles
-->

{% extends 'mini_insta/base.html' %}

{% block content %}

<h1>{{ profile.display_name }}'s Followers</h1>

{% for follower in profile.get_followers %}
    <div class="profile-image">
        <img src="{{ follower.profile_image_url }}"
             alt="{{ follower.display_name }}">
    </div>

    <div class="profile-details">
        <h2>{{ follower.display_name }}</h2>
        <p>{{ follower.bio_text }}</p>
    </div>
{% endfor %}

{% endblock %}