<!--
File: tempalte/show_post.html
Author: Nicholas Reis (nreisny@bu.edu) 5/30/26
Description: Simple template that dispalys all photos for a 
             given post along side its caption and timestamp
-->

{% extends 'mini_insta/base.html' %} {% block content %}
<div class="post_container">
  {% for photo in post.get_all_photos %}
  <img src="{{photo.get_image_url}}" alt="No Image" />
  {% endfor %}

  <p>{{post.caption}}</p>
  <p>{{post.timestamp}}</p>

  <hr />

  <!-- Showing information about likes on this post -->
  <h3>Likes: {{ post.get_likes.count }}</h3>
  <!-- Showing like or unlike button based on if user is currently liking or not liking post -->
  {% if request.user.is_authenticated and request.user != post.profile.user %}
      {% if has_liked %}
        <a href="{% url 'delete_like' post.pk %}">
          <button type="button">Unlike</button>
        </a>
      {% else %}
        <a href="{% url 'like' post.pk %}">
          <button type="button">Like</button>
        </a>
      {% endif %}
  {% endif %}

  {% for like in post.get_likes %}
  <p>{{ like.profile.display_name }}</p>
  {% empty %}
  <p>No likes yet.</p>
  {% endfor %}
  <!-- Showing informatoin about comments made about this post -->
  <h3>Comments</h3>

  {% for comment in post.get_all_comments %}
  <div class="comment">
    <strong>{{ comment.profile.display_name }}</strong>
    <small>{{ comment.timestamp }}</small>

    <p>{{ comment.text }}</p>
  </div>
  {% empty %}
  <p>No comments yet.</p>
  {% endfor %} 
  {% if request.user.is_authenticated and request.user == post.profile.user %}

  <!-- Goes to the delete post page -->
  <a href="{% url 'delete_post' post.pk %}">
    <button type="button">Delete Post</button>
  </a>

  <!-- Goes to the update post page -->
  <a href="{% url 'update_post' post.pk %}">
    <button type="button">Update Post</button>
  </a>

  {% endif %}

  <!-- Goes back to showing user profile information -->
  <a href="{% url 'show_profile' post.profile.pk %}">
    <button type="button" name="back_to_profile" , value="Back To Profile">
      Back To Profile
    </button>
  </a>
</div>
{% endblock %}
